body {
  background: black;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #8d31e4;
  font-size: 60px;
  font-family: Chalkduster, fantasy;
  letter-spacing: 8px;
}
